# 아래 값은 로컬에서 본인의 것으로 채워서 사용할 것 (절대 본인의 값이 입력된 채로 Git에 올리지 말 것.)


# RDS 설정
db_name     = "<DB 이름>"
db_username = "<DB 사용자 이름>"
db_password = "<DB 비밀번호>"

# Redis
redis_password          = "<Redis 비밀번호>"
redis_business_password = "<Redis 비즈니스용 비밀번호>"

# Keycloak
kc_admin_password      = "<Keycloak 관리자 비밀번호>"
keycloak_client_secret = "<Keycloak 클라이언트 시크릿 키>"

# S3

# 기타
internal_api_key = "<내부 API KEY>"
github_username = "<Github 사용자 이름>"
github_token    = "<Github 토큰>"

# OAuth (선택)
google_client_id     = ""
google_client_secret = ""
