# GitHub 인증 (Private repo 접근용)
GITHUB_USERNAME=your-github-username
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx

# Git 레포 URL
GITHUB_ARGO_REPO_URL=https://github.com/your-org/mzc-final-project-argo.git
GITHUB_BE_REPO_URL=https://github.com/your-org/mzc-final-project-be.git
GITHUB_FE_REPO_URL=https://github.com/your-org/mzc-final-project-fe.git
